body {
  background-color: #091b31;
  color: #a0c2eccc;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

a {
  color: #a0c2eccc;
  text-decoration: none; /* remove underline from links */
}

.heading,
.subheading {
  color: rgba(255, 255, 255, 0.855);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#left,
#middle,
#right {
  width: 30%;
  display: flex;
  flex-direction: column;
}

#left {
  width: 20%;
  justify-content: center;
  align-items: center;
}

/* chatgpt prompt: how to enlarge the space between icons using flexbox */
#icons {
  display: flex;
  gap: 20px;
}
