body {
  background-color: #091b31;
  color: #a7c8f1f1;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

a {
  color: #a7c8f1f1;
  text-decoration: none;
}

a:hover {
  color: white;
}

.heading,
.subheading {
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#left,
#middle,
#right {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#icons {
  display: flex;
  gap: 20px;
}

/* W3Schools: Use a media query to add a breakpoint at 800px: */
@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  #left,
  #middle,
  #right {
    width: 85%;
  }
}

h3:hover {
  color: #a7c8f1f1;
}

ul#tech {
  list-style: "👩🏻‍💻   ";
}

ul#resume {
  list-style: "📄  ";
}
