body {
  background-color: #091b31;
  color: #a0c2eccc;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

a {
  color: #a0c2ecf8;
  text-decoration: none;
}

.heading,
.subheading {
  color: rgba(255, 255, 255, 0.855);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#left,
#middle,
#right {
  width: 30%;
  display: flex;
  flex-direction: column;
}

#left {
  width: 20%;
  align-items: center;
}

#icons {
  display: flex;
  gap: 20px;
}

/* W3Schools: Use a media query to add a breakpoint at 800px: */
@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  #left,
  #middle,
  #right {
    width: 85%;
  }
}

.hover-effect:hover {
  text-decoration: underline;
}
